apiVersion: kops/v1alpha2
kind: Cluster
metadata:
  name: {{ cluster_name }}
spec:
  api:
    loadBalancer:
      type: Public
  authorization:
    alwaysAllow: {}
  channel: stable
  cloudProvider: aws
  configBase: s3://{{ kops_state_store_bucket }}/{{ cluster_name }}
  dnsZone: {{ cluster_dns }}
  etcdClusters:
  - etcdMembers:
    {%- for az in master_azs %}
    - instanceGroup: master-{{ az }}
      name: {{ az }}
    {% endfor -%}
    name: main
  - etcdMembers:
    {%- for az in master_azs %}
    - instanceGroup: master-{{ az }}
      name: {{ az }}
    {% endfor -%}
    name: events
  kubernetesApiAccess:
  - 0.0.0.0/0
  kubernetesVersion: {{ kubernetes_version }}
  masterPublicName: api.{{ cluster_name }}
  networkCIDR: {{ network_cidr }}
  networkID: {{ vpc_id }}
  networking:
    weave:
      mtu: 8912
  nonMasqueradeCIDR: 100.64.0.0/10
  sshAccess:
  - 0.0.0.0/0
  subnets:
  {%- for subnet in private_subnets %}
  - cidr: {{ subnet.cidr }}
    name: {{ subnet.name }}
    type: Private
    zone: {{ subnet.az }}
    egress: {{ subnet.egress}}
  {% endfor -%}
  {%- for subnet in utility_subnets %}
  - cidr: {{ subnet.cidr }}
    name: {{ subnet.name }}
    type: Private
    zone: {{ subnet.az }}
    egress: {{ subnet.egress}}
  {% endfor -%}  
  topology:
    dns:
      type: Public
    masters: private
    nodes: private
