apiVersion: kops/v1alpha2
kind: InstanceGroup
metadata:
  labels:
    kops.k8s.io/cluster: {{ cluster_name }}
  name: nodes
spec:
  machineType: {{ node_type }}
  maxSize: {{ ig_max_size if ig_max_size else 3 }}
  minSize: {{ ig_min_size if ig_min_size else 3 }}
  role: Node
  subnets:
  {% for az in availability_zones -%}
  - {{ az }}
  {% endfor -%}
  rootVolumeSize: 200
  rootVolumeType: gp2
