# Changes here may need to be updated in setup.py and lib/pentagon/requirements.txt as well
backports-abc==0.4
certifi==2016.9.26
cffi==1.7.0
click==6.7
enum34==1.1.6
idna==2.1
ipaddress==1.0.16
Jinja2==2.9.5
livereload==2.4.1
Markdown==2.6.7
MarkupSafe==0.23
mkdocs==0.16.0
paramiko==2.0.1
pyasn1==0.1.9
pycparser==2.14
pycrypto==2.6.1
PyYAML==3.12
singledispatch==3.4.0.3
six==1.10.0
tornado==4.4.2
virtualenvwrapper==4.7.2
