# Host github.com
#  HostName github.com
#  #IdentityFile ~/workspace/projects/koombea/koombea-infrastructure/config/private/koombea-rops-github
#  User git
#
Host 172.20.*
  User admin
  IdentityFile ~/workspace/projects/hillghost/hillghost-infrastructure/config/private/working_kube_aws_rsa
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null

# Host *
#   User ubuntu
#   IdentityFile ~/workspace/projects/hillghost/hillghost-infrastructure/config/private/default-private-key
#   StrictHostKeyChecking no
#   UserKnownHostsFile=/dev/null
