{%- if cloud | lower == 'aws' %}
AWS_SECRET_ACCESS_KEY: &secret "{{ aws_secret_key }}" #AWS/BOTO/Terraform
AWS_ACCESS_KEY_ID: &key "{{ aws_access_key }}"        #AWS/BOTO/Terraform

# Terraform
TF_VAR_aws_secret_key:  *secret
TF_VAR_aws_access_key: *key  

#AWS_ACCESS_KEY: *key    #may not be required
#AWS_SECRET_KEY: *secret #may not be required
{%- endif %}
