# Variables set here are not necessarily available as environment variables in your shell.
# To add any, modify the appropriate list in env-vars.sh


AWS_SECRET_ACCESS_KEY: &secret "{{ aws_secret_key }}" #AWS/BOTO
TF_VAR_aws_secret_key:  *secret                       #Terraform

AWS_ACCESS_KEY_ID: &key "{{ aws_access_key }}"        #AWS/BOTO
TF_VAR_aws_access_key: *key                           #Terraform

AWS_ACCESS_KEY: *key    #may not be required
AWS_SECRET_KEY: *secret #may not be required