vpc_tag_name: "{{ VPC_NAME }}"
org_name: "{{ ORG_NAME }}"
{%- raw -%}
org: "{{org_name}}"
{%- endraw -%}
canonical_zone: "{{org_name}}.com"
vpn_bucket: "{{org_name}}-vpn"
secrets_bucket: "{{org_name}}-secrets"