vpc_tag_name: "{{ vpc_name }}"
org_name: "{{ org_name }}"
{% raw -%}
org: "{{ org_name }}" 
{%- endraw %}
canonical_zone: "{{ dns_zone }}"
vpn_bucket: "{{org_name}}-vpn"
secrets_bucket: "{{org_name}}-secrets"