# Variables set here are not necessarily available as environment variables in your shell.
# To add any, modify the appropriate list in env-vars.sh

AWS_SECRET_KEY:  "{{ aws_secret_key }}"
AWS_SECRET_ACCESS_KEY: "{{ aws_secret_key }}"
TF_VAR_aws_secret_key:  "{{ aws_secret_key }}"

AWS_ACCESS_KEY: "{{ aws_access_key }}"
AWS_ACCESS_KEY_ID: "{{ aws_access_key }}"
TF_VAR_aws_access_key: "{{ aws_access_key }}"