#!/usr/bin/env  bash
set -x

STATE_STORAGE=s3
STATE_BUCKET=${INFRASTRUCTURE_BUCKET}
# change for multiple VPCs:
STATE_KEY={{ vpc_name }}/tfstate
STATE_REGION=${AWS_DEFAULT_REGION}

echo "configuring remote state ${STATE_STORAGE}://${STATE_BUCKET}/${STATE_KEY} in ${STATE_REGION}"

terraform remote config -backend="${STATE_STORAGE}"              \
                        -backend-config="bucket=${STATE_BUCKET}" \
                        -backend-config="key=${STATE_KEY}"       \
                        -backend-config="region=${STATE_REGION}"
